:root {
--color-primary: #2E2F42;
--color-secondary: #434455;
--color-inverted: #FFFFFF;
--color-button: #4D5AE5;
--color-page: #E7E9FC;
--color-hover: #404BBF;


}

ul {
list-style-type: none;  
}

body {
background-color: var(--color-inverted);

font-family: 'Roboto', sans-serif;
font-size: 16px;
color: var(--color-secondary);
line-height: 1.6;
}







.page-heder{
border-bottom: 1px solid var(--color-page);
background: var(--color-inverted);
}

.logo-first {
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: var(--color-button);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em
    }


.logo-second {
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
    font-weight: 800;
   font-size: 18px;
    color: var(--color-primary);
    text-decoration: none;
   text-transform: uppercase;
    letter-spacing: 0.03em;
    }


.site-nav {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
color: var(--color-primary);
text-decoration: none;
}

.site-nav:hover{
 color: var(--color-hover);
}    

.box-address {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-decoration: none;
color: var(--color-secondary);
}

.box-address:hover {
    color: var(--color-hover);
}










.hero {
background: var(--color-primary);
    }

.hero-title {
font-weight: 700;
font-size: 56px;
color: var(--color-inverted);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.02em;
}

.button {
font-size: 16px;
line-height:1.5;
border-radius: 4px;
font-weight: 500;
color:  var(--color-inverted);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background: var(--color-button);
cursor: pointer;
border: none;
font-family: inherit;
}

.button:hover {
background-color: var(--color-hover);
}










.studio {
    color: var(--color-inverted);
}

.hero-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--color-primary);
    list-style-type: none; 
}







.picture {
 list-style-type: none;
}
    




.page-aside {
    background-color: #F4F4FD;
}

.box-aside {
    background: var(--color-inverted);
    list-style-type: none;
}
    






.page-footer {
 background-color: var(--color-primary);
}

.logo-third {
    font-family: 'Raleway' ,sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #F4F4FD;;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-slogan {
color: var(--color-page);
}








.hero-port {
    color: var(--color-inverted);
}

.button-port{
padding: 12px 24px;
border: 1px solid var(--color-page);
border-radius: 4px;
background: #F4F4FD;
color: var(--color-button);
cursor: pointer;
border: none;
font-family: inherit;
}


.button-port:hover {
background: var(--color-hover);
color: var(--color-inverted);
}

.box-aside-port{
box-sizing: border-box;
border: 1px solid var(--color-page);
text-decoration: none;
list-style: none;
}
 
.button-port-all {
padding: 12px 24px;
border: 1px solid var(--color-page);
border-radius: 4px;
background: var(--color-hover);
color: var(--color-inverted);
cursor: pointer;
border: none;
}






